$background-color-light: #F3F4F6;
$background-color-white: #FFFFFF;
$background-color-dark: #1E3A8A;
$background-color-darker: #374151;
$text-color-light: #ECF0F1;
$border-color: #A9A9A9;
$hover-background-color: #A9A9A9;
$font-family: 'Roboto', sans-serif;
$border-radius: 4px;
