img {
  width: 100px;
  height: 100px;
}


.album-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.album-content-container {
  flex: 1;
  margin-right: 20px;
}
.album-content-container label {
  font-weight: bolder;
}
.album-content-container ul {
  padding: 0;
}
.album-content-container li {
  list-style-type: none;
  padding: 10px 0;
}

.img-cover-container {
  margin-left: 40px;
  max-width: 220px;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.img-cover-container img {
  width: 100px;
  height: auto;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.8);
}

@media (min-width: 480px) {
  #album-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: none;
    background-color: #FFFFFF;
    padding: 20px;
  }
  #album-details .album {
    background-color: #FFFFFF;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  .img-cover-container img {
    width: 300px;
    height: auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  background-color: #374151;
  color: #ECF0F1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #374151;
  color: #ECF0F1;
  text-align: center;
  padding: 10px 20px;
  font: 1em "Roboto", sans-serif;
  margin-top: auto;
}

aside {
  width: 100%;
  background-color: #F3F4F6;
  font-family: "Roboto", sans-serif;
}
aside ul {
  list-style-type: none;
  padding: 20px;
  border-radius: 4px;
}
aside li {
  display: block;
  list-style-type: none;
  border-radius: 4px;
  border: #A9A9A9 solid 1px;
  padding: 5px 0;
  text-align: center;
}
aside a {
  text-decoration: none;
  color: black;
  margin: 0;
}
aside a:visited {
  color: black;
}

.container #album-collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  font-size: smaller;
}

@media (min-width: 480px) {
  .container {
    display: flex;
    flex: 1;
  }
  .container main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px;
    background-color: #FFFFFF;
  }
  .container main h1 {
    margin-bottom: 20px;
    align-self: flex-start;
  }
  .container main #top-list,
  .container main #album-collection {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    justify-items: center;
    font-size: smaller;
  }
  .container main #top-list .album,
  .container main #album-collection .album {
    flex: 1 1 200px;
    max-width: 200px;
    padding: 10px;
    text-align: center;
  }
  .container main #top-list .album p,
  .container main #album-collection .album p {
    font: 1em "Roboto", sans-serif;
  }
  aside {
    width: 20%;
    padding: 10px;
    background-color: #F3F4F6;
  }
  aside ul {
    list-style-type: none;
    padding: 20px;
    border-radius: 5px;
  }
  aside li:hover {
    background-color: #A9A9A9;
    color: black;
    border-radius: 4px;
  }
}

/*# sourceMappingURL=map/layout.css.map */
